git+git://github.com/theislab/scib
scanpy==1.4.6
git+git://github.com/danielStrobl/scanorama@patch-1
gprofiler-official
mnnpy==0.1.9.5
trvae==1.1.2
tensorflow==1.15.*
umap-learn==0.3.10
desc==2.0.3
keras==2.1
